body {
  background-color: rgb(18, 17, 17);
  color: white;
}


.poster {
  width: 400px;
  height: 225px;
  border-radius: 10px;
  
}

.name-title{
  width: 400px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}



.game-info {
 text-align: center;
 width: 400px;
 margin-bottom: 30px;
 line-height: 15px;
 background-color: purple;
 border-radius: 10px;
 padding: 10px;
}





h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

#game-col {
  width: 400px;
  
  
}

